name: Serenity BDD - CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  run_serenity_tests:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Serenity BDD Tests and Generate Reports
        run: mvn clean verify

      - name: Upload Serenity Reports
        uses: actions/upload-artifact@v4
        with:
          name: serenity-reports
          path: target/site/serenity/


      - name: Upload Test Results (JUnit XML)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-xml
          path: target/surefire-reports
